<!DOCTYPE html>
<html lang="en" class="h-screen" style="color-scheme: dark; text-align: center;">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Example Template</title>
</head>

<body class="h-full pt-32 sm:pt-40">
  <main class="flex flex-col items-center space-y-12 justify-center">
    <h1 class="text-4xl font-bold"><a href="/">URL Shortener</a></h1>
    <div class="flex flex-col items-center justify-center space-y-6">
      <div class="flex items-center border-b border-teal-500 py-2">
        <h3 class="text-3xl">{{.Short}}</h3>
      </div>
      <button
        class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-lg font-bold border-4 text-white py-1 px-4 rounded"
        onclick="copyURL(this, '{{.Short}}')">Copy
      </button>
    </div>
  </main>

  <script>
    console.log("script.js loaded");
    function copyURL(button, url) {
      const tempInput = document.createElement("input");
      tempInput.value = url;
      document.body.appendChild(tempInput);
      tempInput.select();
      tempInput.setSelectionRange(0, 99999); // For mobile devices
      document.execCommand("copy");
      document.body.removeChild(tempInput);
      button.textContent = "Copied!";
      setTimeout(() => (button.textContent = "Copy"), 2000);
    }
  </script>

</body>

</html>
